Repository sberdevices/salutejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

Bump independent versions [skip ci]
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/echo/package-lock.json
  examples/echo/package.json
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/package.json
  examples/todo/package-lock.json
  examples/todo/package.json
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-string-similarity/package-lock.json
  packages/recognizer-string-similarity/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/storage-adapter-firebase/package-lock.json
  packages/storage-adapter-firebase/package.json
  packages/storage-adapter-memory/package-lock.json
  packages/storage-adapter-memory/package.json
Due: prettier --write --parser json, node

feat(scenario): improve types for tokenized_elements_list
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

feat: Добавлен EMBEDDED_APP в AppType.
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

feat(salutejs): Add settlement field to profile data
  packages/scenario/src/lib/types/request.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/scenario/CHANGELOG.md
Due: prettier --write --parser markdown

chore: examples/chatapp-brain works
  examples/chatapp-brain/jest.config.ts
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/chatapp-brain/src/index.ts
  examples/chatapp-brain/src/intents.json
  examples/chatapp-brain/src/middleware.ts
  examples/chatapp-brain/src/scenario.ts
  examples/chatapp-brain/src/scenarion.test.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: Добавлен npm-скрипт генерации схем из предустановленной директории
  packages/scenario/package-lock.json
  packages/scenario/package.json
Due: prettier --write --parser json, node

feat: Добавлен экшн StartSmartSearchAction
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

feat: override frontend endpoint
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/types/response.ts
  packages/scenario/src/lib/types/salute.ts
Due: eslint --fix, prettier --write

feat: добавлен тип карточки simple_list
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

feat: Определить значения поверхностей и каналов
  packages/scenario/src/lib/smartpush.ts
  packages/scenario/src/lib/types/push.ts
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

feat: добавлен type для карточки simple_list
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

fix: Асинхронный хендлер RUN_APP
  packages/scenario/src/lib/createScenarioWalker.ts
Due: eslint --fix, prettier --write

fix: Список ячеек типа right
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

chore: Не запускается examples/todo
  examples/todo/package-lock.json
  examples/todo/package.json
Due: prettier --write --parser json, node
