Repository sberdevices/salutejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

fix(recognizer): add StringSimilarity export
  packages/recognizer/src/index.ts
Due: eslint --fix, prettier --write

fix(types): right dist path
  packages/types/package.json
Due: prettier --write --parser json, node

docs(scenario): fix typo mistake
  packages/scenario/README.md
Due: prettier --write --parser markdown

chore(release): publish
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  packages/i18n/package-lock.json
  packages/i18n/package.json
  packages/memory/package-lock.json
  packages/memory/package.json
  packages/recognizer/package-lock.json
  packages/recognizer/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: prettier --write --parser json, node

fix(scenario): check variants array in intent matcher
  packages/scenario/src/lib/matchers.ts
Due: eslint --fix, prettier --write

chore(release): publish
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
Due: prettier --write --parser json, node

feat(scenario): support emotions in response
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

chore(recognizer): add Brain default host
  packages/recognizer/src/lib/smartAppBrain.ts
Due: eslint --fix, prettier --write

docs(memory): add scenarioWalker init
  packages/memory/README.md
Due: prettier --write --parser markdown

fix: recognizer is optional createScenarioWalker`s parameter
  packages/scenario/src/lib/createScenarioWalker.ts
Due: eslint --fix, prettier --write

fix: support 'deep_link' and 'server_action' suggests
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

feat: @salute/payments
  packages/payments/README.md
  packages/payments/package-lock.json
  packages/payments/package.json
  packages/payments/src/index.ts
  packages/payments/src/lib/smartpay.ts
  packages/payments/src/types.ts
  packages/payments/tsconfig.json
  packages/scenario/src/lib/createSaluteRequest.ts
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/createScenarioWalker.ts
  packages/scenario/src/lib/createSystemScenario.ts
  packages/types/src/response.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: комментарии
  packages/scenario/src/lib/createUserScenario.ts
Due: eslint --fix, prettier --write

chore(release): publish
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  packages/i18n/package-lock.json
  packages/i18n/package.json
  packages/memory/package-lock.json
  packages/memory/package.json
  packages/payments/package-lock.json
  packages/payments/package.json
  packages/recognizer/package-lock.json
  packages/recognizer/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: prettier --write --parser json, node

docs(recognizer-smartapp-brain): access token readme
  packages/recognizer-smartapp-brain/README.md
Due: prettier --write --parser markdown

chore(recognizer-smartapp-brain): refactor API calls
  packages/recognizer-smartapp-brain/bin/brain.js
  packages/recognizer-smartapp-brain/src/lib/index.ts
Due: eslint --fix, prettier --write

feat(recognizer-smartapp-brain): implement CLI
  packages/recognizer-smartapp-brain/bin/brain.js
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-smartapp-brain/src/bin/brain.ts
  packages/recognizer-smartapp-brain/src/lib/smartAppBrainSync.ts
  packages/recognizer-smartapp-brain/src/lib/test.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: split recognizer package
  examples/audiotour/package.json
  examples/audiotour/src/app.ts
  packages/recognizer-smartapp-brain/.npmrc
  packages/recognizer-smartapp-brain/README.md
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-smartapp-brain/src/index.ts
  packages/recognizer-smartapp-brain/src/lib/index.ts
  packages/recognizer-smartapp-brain/src/lib/permittedSystemEntities.ts
  packages/recognizer-smartapp-brain/src/lib/projectData.ts
  packages/recognizer-smartapp-brain/src/lib/smartAppBrainSync.ts
  packages/recognizer-smartapp-brain/src/lib/test.ts
  packages/recognizer-smartapp-brain/tsconfig.json
  packages/recognizer-string-similarity/.npmrc
  packages/recognizer-string-similarity/README.md
  packages/recognizer-string-similarity/package-lock.json
  packages/recognizer-string-similarity/package.json
  packages/recognizer-string-similarity/src/index.ts
  packages/recognizer-string-similarity/tsconfig.json
  packages/recognizer/src/index.ts
  packages/recognizer/src/lib/abstract.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

feat: import/export intents from Brain API
  packages/recognizer/src/lib/permittedSystemEntities.ts
  packages/recognizer/src/lib/projectData.ts
  packages/recognizer/src/lib/smartAppBrain.ts
  packages/recognizer/src/lib/smartAppBrainSync.ts
  packages/recognizer/src/lib/test.ts
Due: eslint --fix, prettier --write

docs(recognizer-smartapp-brain): cli readme
  packages/recognizer-smartapp-brain/README.md
Due: prettier --write --parser markdown

fix(recognizer-smartapp-brain): use values only, better error message
  packages/recognizer-smartapp-brain/src/bin/brain.ts
Due: eslint --fix, prettier --write

chore(recognizer-smartapp-brain): remove intents normalizer
  packages/recognizer-smartapp-brain/src/lib/index.ts
Due: eslint --fix, prettier --write

fix(i18n): dont strore current character in closure
  packages/i18n/src/index.spec.ts
  packages/i18n/src/index.ts
  packages/i18n/src/plural/ru.ts
  packages/scenario/package.json
  packages/scenario/src/lib/createSaluteRequest.ts
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: merge i18n to scenario
  packages/i18n/.npmrc
  packages/i18n/README.md
  packages/i18n/package-lock.json
  packages/i18n/package.json
  packages/i18n/tsconfig.json
  packages/scenario/README.md
  packages/scenario/src/lib/createSaluteRequest.ts
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/i18n.spec.ts
  packages/scenario/src/lib/i18n.ts
  packages/scenario/src/lib/plural/ru.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(scenario): add test script
  packages/scenario/package.json
Due: prettier --write --parser json, node

chore(scenario): move i18n type to file
  packages/types/src/i18n.ts
  packages/types/src/index.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write
