Repository sberdevices/salutejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore(release): publish
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/package.json
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-string-similarity/package-lock.json
  packages/recognizer-string-similarity/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/storage-adapter-memory/package-lock.json
  packages/storage-adapter-memory/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: prettier --write --parser json, node

fix(scenario): intents are optional for createScenarioWalker
  packages/scenario/src/lib/createScenarioWalker.ts
Due: eslint --fix, prettier --write

chore: added systemMessage type
  examples/payment-chatapp/src/cards.ts
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/i18n.spec.ts
  packages/scenario/src/lib/i18n.ts
  packages/types/src/bubble.ts
  packages/types/src/card.ts
  packages/types/src/global.ts
  packages/types/src/index.ts
  packages/types/src/request.ts
  packages/types/src/response.ts
  packages/types/src/salute.ts
  packages/types/src/systemMessage.ts
Due: eslint --fix, prettier --write

chore: added dimension types
  packages/types/src/systemMessage.ts
Due: eslint --fix, prettier --write

feat(types): Make SaluteCommand payload optional
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

feat: added todo-app example
  .gitignore
  examples/todo/.env.sample
  examples/todo/README.md
  examples/todo/next-env.d.ts
  examples/todo/next.config.js
  examples/todo/package-lock.json
  examples/todo/package.json
  examples/todo/src/Components/GlobalStyles.tsx
  examples/todo/src/pages/_app.tsx
  examples/todo/src/pages/api/index.ts
  examples/todo/src/pages/index.tsx
  examples/todo/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

feat: added layout for todo-app example
  examples/todo/package-lock.json
  examples/todo/package.json
  examples/todo/src/pages/index.tsx
  examples/todo/src/store/index.ts
  examples/todo/src/types/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: todo-app scenario
  examples/payment-chatapp/package.json
  examples/todo/README.md
  examples/todo/fixtures/requests.json
  examples/todo/fixtures/responses.json
  examples/todo/global.d.ts
  examples/todo/jest.config.ts
  examples/todo/next.config.js
  examples/todo/package-lock.json
  examples/todo/package.json
  examples/todo/public/favicon.ico
  examples/todo/src/Components/GlobalStyles.tsx
  examples/todo/src/pages/api/hook.ts
  examples/todo/src/pages/api/index.ts
  examples/todo/src/pages/index.tsx
  examples/todo/src/scenario/handlers.ts
  examples/todo/src/scenario/scenario.test.ts
  examples/todo/src/scenario/scenario.ts
  examples/todo/src/scenario/types.ts
  examples/todo/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: throws then intents === undefined
  packages/scenario/src/lib/createScenarioWalker.ts
Due: eslint --fix, prettier --write

chore(scenario): move slot filling logic to dispatch
  packages/scenario/src/lib/createSaluteRequest.ts
  packages/scenario/src/lib/createScenarioWalker.ts
  packages/scenario/src/lib/matchers.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

chore: package-lock.json
  examples/todo/package-lock.json
Due: prettier --write --parser json, node

chore(release): publish
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/package.json
  examples/todo/package-lock.json
  examples/todo/package.json
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-string-similarity/package-lock.json
  packages/recognizer-string-similarity/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/storage-adapter-memory/package-lock.json
  packages/storage-adapter-memory/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: prettier --write --parser json, node

fix(scenario): move slot filling logic to dispatch
  examples/audiotour/src/app.ts
  examples/audiotour/src/intents.ts
  examples/audiotour/tsconfig.json
  package.json
  packages/scenario/src/lib/createScenarioWalker.ts
  packages/scenario/src/lib/createUserScenario.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: add vulnerabilities analysis workflow
  .github/workflows/codeql-analysis.yml
Due: none

fix: enable strictNullChecks
  packages/recognizer-smartapp-brain/tsconfig.json
  packages/recognizer-string-similarity/tsconfig.json
  packages/scenario/tsconfig.json
  packages/storage-adapter-memory/tsconfig.json
  packages/types/tsconfig.json
Due: prettier --write --parser json, node

fix(types): lint errors
  packages/types/src/salute.ts
  packages/types/src/systemMessage.ts
Due: eslint --fix, prettier --write

fix(recognizer-smartapp-brain): lint errors
  packages/recognizer-smartapp-brain/src/lib/projectData.ts
  packages/recognizer-smartapp-brain/src/lib/smartAppBrainSync.ts
Due: eslint --fix, prettier --write

fix(recognizer-string-similarity): lint errors
  packages/recognizer-string-similarity/src/index.ts
Due: eslint --fix, prettier --write

fix(scenario): lint errors
  packages/scenario/src/lib/createIntents.ts
  packages/scenario/src/lib/createSaluteRequest.ts
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/createScenarioWalker.ts
  packages/scenario/src/lib/createUserScenario.ts
  packages/scenario/src/lib/i18n.ts
  packages/scenario/src/lib/matchers.ts
  packages/scenario/src/lib/missingVariables.ts
  packages/scenario/src/lib/smartpay.ts
  packages/scenario/src/lib/types.ts
Due: eslint --fix, prettier --write

fix(todo): synced lock-file and devmode checking
  examples/todo/package-lock.json
  examples/todo/src/pages/index.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix(types): TextIntent.matchers.type is now string
  packages/recognizer-smartapp-brain/src/bin/brain.ts
  packages/recognizer-smartapp-brain/src/lib/smartAppBrainSync.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

fix(scenario): meta is optional in SystemMessage
  packages/scenario/src/lib/createSaluteRequest.ts
  packages/types/src/systemMessage.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
