Repository sberdevices/salutejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(salutejs): fix ProfileDataFieldsType
  packages/scenario/src/lib/types/response.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/scenario/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/echo/package-lock.json
  examples/echo/package.json
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/package.json
  examples/todo/package-lock.json
  examples/todo/package.json
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-string-similarity/package-lock.json
  packages/recognizer-string-similarity/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/storage-adapter-firebase/package-lock.json
  packages/storage-adapter-firebase/package.json
  packages/storage-adapter-memory/package-lock.json
  packages/storage-adapter-memory/package.json
Due: prettier --write --parser json, node

fix(scenario): fix profile type
  packages/scenario/src/lib/types/request.ts
Due: eslint --fix, prettier --write

fix: Не должна очищаться сессия при слотфиллинге
  packages/scenario/src/lib/createScenarioWalker.ts
Due: eslint --fix, prettier --write

fix: Optional variables in SaluteRequest
  packages/scenario/src/lib/types/salute.ts
Due: eslint --fix, prettier --write

fix: add CopyTextAction in system message
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

fix: lint error in system message types
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

fix: slot filling fixes
  packages/scenario/src/lib/createScenarioWalker.ts
  packages/scenario/src/lib/missingVariables.ts
  packages/scenario/src/lib/types/salute.ts
Due: eslint --fix, prettier --write

fix: smartapp brain take 10 best intents
  packages/recognizer-smartapp-brain/src/lib/index.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/recognizer-smartapp-brain/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
Due: prettier --write --parser json, node

feat: added hints in system message
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

fix(scenario): types for `loyalty_info` block
  packages/scenario/src/lib/types/payment.ts
Due: eslint --fix, prettier --write

fix(scenario): loyalty_info is optional
  packages/scenario/src/lib/types/payment.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
