Repository sberdevices/salutejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

docs: examples/todo readme
  examples/todo/.env.sample
Due: none

ci: add auto publishing
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --write --parser json, node

ci: lint all pkgs
  package.json
Due: prettier --write --parser json, node

chore: skip lint
  .github/workflows/release.yml
Due: none

ci: fake .npmrc
  .fake-npmrc
  .github/workflows/release.yml
  .gitignore
  .npmrc
  package.json
Due: prettier --write --parser json, node

chore: bump auto
  package-lock.json
  package.json
Due: prettier --write --parser json, node

ci: fix lerna publish config
  lerna.json
Due: prettier --write --parser json, node

docs: OAUTH example
  examples/github-oauth/README.md
  examples/github-oauth/components/GlobalStyle.tsx
  examples/github-oauth/next-env.d.ts
  examples/github-oauth/next.config.js
  examples/github-oauth/package-lock.json
  examples/github-oauth/package.json
  examples/github-oauth/pages/_app.tsx
  examples/github-oauth/pages/_document.tsx
  examples/github-oauth/pages/api/auth/[...nextauth].ts
  examples/github-oauth/pages/index.tsx
  examples/github-oauth/public/favicon.ico
  examples/github-oauth/public/vercel.svg
  examples/github-oauth/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

docs: Обновлен readme
  packages/scenario/README.md
Due: prettier --write --parser markdown

docs: readme updated
  packages/scenario/README.md
Due: prettier --write --parser markdown

docs(recognizer-smartapp-brain): add SMARTAPP_BRAIN_TOKEN
  packages/recognizer-smartapp-brain/README.md
Due: prettier --write --parser markdown

chore(recognizer-smartapp-brain): add .env.sample file
  packages/recognizer-smartapp-brain/.env.sample
Due: none

fix(recognizer-smartapp-brain): brain push custom entities check
  packages/recognizer-smartapp-brain/src/bin/brain.ts
  packages/recognizer-smartapp-brain/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: build before publish
  .github/workflows/release.yml
Due: none

fix: prepare step
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  package.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-string-similarity/package.json
  packages/scenario/package.json
  packages/storage-adapter-firebase/package.json
  packages/storage-adapter-memory/package.json
Due: prettier --write --parser json, node

Bump independent versions [skip ci]
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/echo/package-lock.json
  examples/echo/package.json
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/package.json
  examples/todo/package-lock.json
  examples/todo/package.json
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-string-similarity/package-lock.json
  packages/recognizer-string-similarity/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/storage-adapter-firebase/package-lock.json
  packages/storage-adapter-firebase/package.json
  packages/storage-adapter-memory/package-lock.json
  packages/storage-adapter-memory/package.json
Due: prettier --write --parser json, node

fix: Chatapp-brain example has wrong intents.json format
  examples/chatapp-brain/.env.sample
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/chatapp-brain/src/index.ts
  examples/chatapp-brain/src/intents.json
  examples/chatapp-brain/tsconfig.json
  packages/recognizer-smartapp-brain/src/lib/smartAppBrainSync.ts
  packages/scenario/src/lib/types/salute.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: eslint errors
  .github/workflows/release.yml
  packages/storage-adapter-firebase/src/lib/firebase.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/recognizer-smartapp-brain/CHANGELOG.md
  packages/recognizer-string-similarity/CHANGELOG.md
  packages/scenario/CHANGELOG.md
  packages/storage-adapter-firebase/CHANGELOG.md
  packages/storage-adapter-memory/CHANGELOG.md
Due: prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/storage-adapter-firebase/CHANGELOG.md
Due: prettier --write --parser markdown
