Repository sberdevices/salutejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

chore(release): publish
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/package.json
  examples/todo/package-lock.json
  examples/todo/package.json
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-string-similarity/package-lock.json
  packages/recognizer-string-similarity/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/storage-adapter-memory/package-lock.json
  packages/storage-adapter-memory/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: prettier --write --parser json, node

feat: package for storing session in firebase
  packages/storage-adapter-firebase/.npmrc
  packages/storage-adapter-firebase/README.md
  packages/storage-adapter-firebase/package-lock.json
  packages/storage-adapter-firebase/package.json
  packages/storage-adapter-firebase/src/index.ts
  packages/storage-adapter-firebase/src/lib/firebase.ts
  packages/storage-adapter-firebase/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: todo tests
  examples/todo/src/scenario/scenario.ts
Due: eslint --fix, prettier --write

feat: echo scenario
  examples/echo/.env.sample
  examples/echo/next-env.d.ts
  examples/echo/package-lock.json
  examples/echo/package.json
  examples/echo/public/favicon.ico
  examples/echo/src/Components/GlobalStyles.tsx
  examples/echo/src/hooks/useScenario.ts
  examples/echo/src/hooks/useTransport.ts
  examples/echo/src/pages/_app.tsx
  examples/echo/src/pages/index.tsx
  examples/echo/src/server.ts
  examples/echo/tsconfig.json
  packages/scenario/src/lib/matchers.ts
  packages/types/src/systemMessage.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Update createSaluteResponse.ts
  packages/scenario/src/lib/createSaluteResponse.ts
Due: eslint --fix, prettier --write

Update salute.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

feat: support array WIP
  examples/audiotour/src/app.ts
  examples/audiotour/src/intents.json
  examples/audiotour/src/intents.ts
  packages/recognizer-smartapp-brain/src/bin/brain.ts
  packages/recognizer-smartapp-brain/src/lib/smartAppBrainSync.ts
  packages/scenario/src/lib/createSaluteRequest.ts
  packages/scenario/src/lib/createScenarioWalker.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Update method setPronounceText
  packages/scenario/src/lib/createSaluteResponse.ts
Due: eslint --fix, prettier --write

Update SaluteResponse interface
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

Fix default value for parameter "options"
  packages/scenario/src/lib/createSaluteResponse.ts
Due: eslint --fix, prettier --write

Update setPronounceText
  packages/scenario/src/lib/createSaluteResponse.ts
Due: eslint --fix, prettier --write

fix(recognizer-smartapp-brain): check phrases and patterns in res
  packages/recognizer-smartapp-brain/src/lib/smartAppBrainSync.ts
Due: eslint --fix, prettier --write

chore: workshop example
  examples/todo/.gitignore
  examples/todo/package-lock.json
  examples/todo/src/Components/GlobalStyles.tsx
  examples/todo/src/pages/api/hook.ts
  examples/todo/src/pages/index.tsx
  examples/todo/src/scenario/handlers.ts
  examples/todo/src/scenario/scenario.test.ts
  examples/todo/src/scenario/scenario.ts
  examples/todo/src/store/index.ts
  examples/todo/src/types.ts
  examples/todo/src/types/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: steps code fest
  examples/todo/README.md
Due: prettier --write --parser markdown

chore: fix warning
  examples/todo/src/pages/_app.tsx
Due: eslint --fix, prettier --write

chore(release): publish
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/echo/package-lock.json
  examples/echo/package.json
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/package.json
  examples/todo/package-lock.json
  examples/todo/package.json
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-string-similarity/package-lock.json
  packages/recognizer-string-similarity/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/storage-adapter-firebase/package-lock.json
  packages/storage-adapter-firebase/package.json
  packages/storage-adapter-memory/package-lock.json
  packages/storage-adapter-memory/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: prettier --write --parser json, node

fix: examples/payment-chatapp works again
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/src/index.ts
  examples/payment-chatapp/src/intents.ts
  examples/payment-chatapp/src/products.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: example pay app
  examples/payments/.gitignore
  examples/payments/.npmrc
  examples/payments/README.md
  examples/payments/mocks/basket.json
  examples/payments/mocks/goods.json
  examples/payments/next-env.d.ts
  examples/payments/package-lock.json
  examples/payments/package.json
  examples/payments/public/popcorn.png
  examples/payments/src/Components/GlobalStyles.tsx
  examples/payments/src/pages/_app.tsx
  examples/payments/src/pages/api/hook.ts
  examples/payments/src/pages/index.tsx
  examples/payments/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: Can't extends SaluteRequestVariable
  packages/scenario/src/lib/types/payment.ts
  packages/scenario/src/lib/types/salute.ts
Due: eslint --fix, prettier --write

chore(release): publish
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/echo/package-lock.json
  examples/echo/package.json
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/package.json
  examples/todo/package-lock.json
  examples/todo/package.json
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-string-similarity/package-lock.json
  packages/recognizer-string-similarity/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/storage-adapter-firebase/package-lock.json
  packages/storage-adapter-firebase/package.json
  packages/storage-adapter-memory/package-lock.json
  packages/storage-adapter-memory/package.json
Due: prettier --write --parser json, node

fix: PaymentInvoiceStatuses matches to api
  packages/scenario/src/lib/types/payment.ts
Due: eslint --fix, prettier --write

fix: add SaluteResponse.finish()
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/types/salute.ts
Due: eslint --fix, prettier --write

Update server.ts
  examples/echo/src/server.ts
Due: eslint --fix, prettier --write
