Repository sberdevices/salutejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(scenario): add test script
  packages/scenario/package.json
Due: prettier --write --parser json, node

chore(scenario): move i18n type to file
  packages/types/src/i18n.ts
  packages/types/src/index.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

feat(scenario): random pharse from keyset
  packages/scenario/src/lib/i18n.spec.ts
  packages/scenario/src/lib/i18n.ts
  packages/types/src/i18n.ts
Due: eslint --fix, prettier --write

chore: merge payments to scenario
  packages/payments/README.md
  packages/payments/package-lock.json
  packages/payments/package.json
  packages/payments/src/index.ts
  packages/payments/tsconfig.json
  packages/scenario/README.md
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/scenario/src/index.ts
  packages/scenario/src/lib/smartpay.ts
  packages/scenario/src/lib/types.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix(scenario): add ridht method name
  packages/scenario/src/index.ts
  packages/scenario/src/lib/smartpay.ts
Due: eslint --fix, prettier --write

chore: split memory package
  examples/audiotour/package.json
  packages/memory/src/index.ts
  packages/storage-adapter-memory/.npmrc
  packages/storage-adapter-memory/README.md
  packages/storage-adapter-memory/package-lock.json
  packages/storage-adapter-memory/package.json
  packages/storage-adapter-memory/src/index.ts
  packages/storage-adapter-memory/tsconfig.json
  packages/types/src/index.ts
  packages/types/src/storage.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: package-lock up to date
  packages/storage-adapter-memory/package-lock.json
Due: prettier --write --parser json, node

chore(release): publish
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-string-similarity/package-lock.json
  packages/recognizer-string-similarity/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/storage-adapter-memory/package-lock.json
  packages/storage-adapter-memory/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: prettier --write --parser json, node

docs: README up to date
  README.md
  README.ru.md
Due: prettier --write --parser markdown

fix(audiotour): up package name in imports
  examples/audiotour/src/app.ts
Due: eslint --fix, prettier --write

fix(recognizer-smartapp-brain): add short bin name
  packages/recognizer-smartapp-brain/package.json
Due: prettier --write --parser json, node

feat: add default env variables
  packages/recognizer-smartapp-brain/src/bin/brain.ts
  packages/recognizer-smartapp-brain/src/lib/index.ts
  packages/scenario/src/lib/smartpay.ts
Due: eslint --fix, prettier --write

feat(recognizer-smartapp-brain): support dotenv in CLI
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-smartapp-brain/src/bin/brain.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: added card and bubble types
  packages/types/src/bubble.ts
  packages/types/src/card.ts
  packages/types/src/response.ts
Due: eslint --fix, prettier --write

docs: update env variables in README
  packages/recognizer-smartapp-brain/README.md
  packages/scenario/README.md
Due: prettier --write --parser markdown

fix(types): i18nOptions is optional
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

chore(chatapp-brain): add ChatApp with SmartApp Brain recognizer example
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/chatapp-brain/src/index.ts
  examples/chatapp-brain/src/intents.json
  examples/chatapp-brain/src/middleware.ts
  examples/chatapp-brain/src/system.i18n/athena.ts
  examples/chatapp-brain/src/system.i18n/index.ts
  examples/chatapp-brain/src/system.i18n/joy.ts
  examples/chatapp-brain/src/system.i18n/sber.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: added appendCard-method to SaluteResponse
  packages/types/src/card.ts
  packages/types/src/global.ts
  packages/types/src/index.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

fix: added options for appendBubble response method
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/types/src/index.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

feat: added regexp matcher
  packages/scenario/src/lib/matchers.ts
Due: eslint --fix, prettier --write

fix: smartpay types
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/types.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write

feat: added payment-chatapp example
  examples/payment-chatapp/.env.sample
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/package.json
  examples/payment-chatapp/src/cards.ts
  examples/payment-chatapp/src/handlers.ts
  examples/payment-chatapp/src/index.ts
  examples/payment-chatapp/src/intents.json
  examples/payment-chatapp/src/products.json
  examples/payment-chatapp/src/types.ts
  examples/payment-chatapp/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: custom entities for brain
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-smartapp-brain/src/bin/brain.ts
  packages/recognizer-smartapp-brain/src/lib/index.ts
  packages/recognizer-smartapp-brain/src/lib/projectData.ts
  packages/recognizer-smartapp-brain/src/lib/smartAppBrainSync.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

feat: support phrase/pattern for intents in brain, #127
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/src/index.ts
  examples/payment-chatapp/src/intents.json
  examples/payment-chatapp/src/intents.ts
  packages/recognizer-smartapp-brain/src/bin/brain.ts
  packages/recognizer-smartapp-brain/src/lib/smartAppBrainSync.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
