Repository sberdevices/salutejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: move audiotour to example and make it lerna
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  examples/audiotour/src/app.ts
  examples/audiotour/src/config.ts
  examples/audiotour/src/intents.ts
  examples/audiotour/src/legacyAction.ts
  examples/audiotour/src/types.ts
  old/examples/todo/README.md
  old/examples/todo/canvas/.env.sample
  old/examples/todo/canvas/cypress.json
  old/examples/todo/canvas/cypress/integration/sample.spec.ts
  old/examples/todo/canvas/cypress/plugins/index.js
  old/examples/todo/canvas/cypress/tsconfig.json
  old/examples/todo/canvas/package-lock.json
  old/examples/todo/canvas/package.json
  old/examples/todo/canvas/public/favicon.ico
  old/examples/todo/canvas/public/index.html
  old/examples/todo/canvas/public/logo192.png
  old/examples/todo/canvas/public/logo512.png
  old/examples/todo/canvas/public/manifest.json
  old/examples/todo/canvas/public/robots.txt
  old/examples/todo/canvas/src/App.css
  old/examples/todo/canvas/src/App.tsx
  old/examples/todo/canvas/src/global.d.ts
  old/examples/todo/canvas/src/index.css
  old/examples/todo/canvas/src/index.tsx
  old/examples/todo/canvas/src/react-app-env.d.ts
  old/examples/todo/canvas/src/reportWebVitals.ts
  old/examples/todo/canvas/src/setupTests.ts
  old/examples/todo/canvas/src/store.ts
  old/examples/todo/canvas/tsconfig.json
  old/examples/todo/scenario/app.test.ts
  old/examples/todo/scenario/app.ts
  old/examples/todo/scenario/fixtures/todoRequests.json
  old/examples/todo/scenario/fixtures/todoResponses.json
  old/examples/todo/scenario/handlers.ts
  old/examples/todo/scenario/intents.ts
  old/examples/todo/scenario/types.ts
  packages/scenario/src/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix: better types for intents
  examples/audiotour/src/app.ts
  examples/audiotour/src/intents.ts
  examples/audiotour/src/types.ts
  package.json
  packages/scenario/src/index.ts
  packages/scenario/src/lib/createIntents.ts
  packages/scenario/src/lib/createUserScenario.ts
  packages/scenario/src/lib/matchers.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix: remove todo
  packages/scenario/src/lib/matchers.ts
Due: eslint --fix, prettier --write

fix: run lerna in hooks
  .huskyrc.json
Due: prettier --write --parser json, node

feat: add i18n package
  jest.config.ts
  package-lock.json
  package.json
  packages/i18n/README.md
  packages/i18n/package-lock.json
  packages/i18n/package.json
  packages/i18n/src/index.spec.ts
  packages/i18n/src/index.ts
  packages/i18n/src/plural/ru.ts
  packages/i18n/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: remove hoisted deps from packages
  examples/audiotour/package.json
  packages/memory/package.json
  packages/recognizer/package.json
  packages/scenario/package.json
  packages/types/package.json
  packages/types/src/global.ts
  packages/types/src/index.ts
  packages/types/src/request.ts
  packages/types/src/response.ts
  packages/types/src/salute.ts
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore: lock files update
  packages/i18n/package-lock.json
  packages/memory/package-lock.json
  packages/recognizer/package-lock.json
  packages/scenario/package-lock.json
Due: prettier --write --parser json, node

fix: use lerna in gh workflow
  .github/workflows/pr.yml
  package.json
Due: prettier --write --parser json, node

docs: add README file
  README.md
Due: prettier --write --parser markdown

Update README.md
  README.md
Due: prettier --write --parser markdown

docs: contribution, code of conduct
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  README.ru.md
Due: prettier --write --parser markdown

chore: add files section
  packages/i18n/package.json
  packages/memory/package.json
  packages/recognizer/package.json
  packages/scenario/package.json
  packages/types/package.json
Due: prettier --write --parser json, node

chore: add symlinks
  packages/i18n/.npmrc
  packages/i18n/LICENSE.txt
  packages/memory/.npmrc
  packages/memory/LICENSE.txt
  packages/recognizer/.npmrc
  packages/recognizer/LICENSE.txt
  packages/scenario/.npmrc
  packages/scenario/LICENSE.txt
  packages/types/.npmrc
  packages/types/LICENSE.txt
Due: none

docs: update README
  README.md
  README.ru.md
Due: prettier --write --parser markdown

docs: add packages basic readme
  packages/i18n/README.md
  packages/memory/README.md
  packages/recognizer/README.md
  packages/scenario/README.md
  packages/types/README.md
Due: prettier --write --parser markdown

fix: examples is private packages
  examples/audiotour/package.json
Due: prettier --write --parser json, node

fix: lerna publish settings
  lerna.json
  packages/i18n/package.json
  packages/memory/package.json
  packages/recognizer/package.json
  packages/scenario/package.json
  packages/types/package.json
Due: prettier --write --parser json, node

chore(release): publish
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  packages/i18n/package-lock.json
  packages/i18n/package.json
  packages/memory/package-lock.json
  packages/memory/package.json
  packages/recognizer/package-lock.json
  packages/recognizer/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/types/package-lock.json
  packages/types/package.json
Due: prettier --write --parser json, node

chore(release): publish
  packages/i18n/LICENSE.txt
  packages/i18n/package.json
  packages/memory/LICENSE.txt
  packages/memory/package.json
  packages/recognizer/LICENSE.txt
  packages/recognizer/package.json
  packages/scenario/LICENSE.txt
  packages/scenario/package.json
  packages/types/LICENSE.txt
  packages/types/package.json
Due: prettier --write --parser json, node

docs: fix packages description
  README.md
Due: prettier --write --parser markdown

fix(recognizer): add StringSimilarity export
  packages/recognizer/src/index.ts
Due: eslint --fix, prettier --write

fix(types): right dist path
  packages/types/package.json
Due: prettier --write --parser json, node

docs(scenario): fix typo mistake
  packages/scenario/README.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
