Repository sberdevices/salutejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node",
        "git add"
    ]
}

Bump independent versions [skip ci]
  packages/storage-adapter-firebase/package-lock.json
  packages/storage-adapter-firebase/package.json
Due: prettier --write --parser json, node

docs: update recognizer-smartapp-brain readme.md
  packages/recognizer-smartapp-brain/README.md
Due: prettier --write --parser markdown

feat: added rounded corners icons and updated system message types
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/i18n.spec.ts
  packages/scenario/src/lib/types/salute.ts
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/recognizer-smartapp-brain/CHANGELOG.md
  packages/scenario/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/audiotour/package-lock.json
  examples/audiotour/package.json
  examples/chatapp-brain/package-lock.json
  examples/chatapp-brain/package.json
  examples/echo/package-lock.json
  examples/echo/package.json
  examples/payment-chatapp/package-lock.json
  examples/payment-chatapp/package.json
  examples/todo/package-lock.json
  examples/todo/package.json
  packages/recognizer-smartapp-brain/package-lock.json
  packages/recognizer-smartapp-brain/package.json
  packages/recognizer-string-similarity/package-lock.json
  packages/recognizer-string-similarity/package.json
  packages/scenario/package-lock.json
  packages/scenario/package.json
  packages/storage-adapter-firebase/package-lock.json
  packages/storage-adapter-firebase/package.json
  packages/storage-adapter-memory/package-lock.json
  packages/storage-adapter-memory/package.json
Due: prettier --write --parser json, node

feat: SmartPush support
  packages/scenario/README.md
  packages/scenario/src/index.ts
  packages/scenario/src/lib/smartpush.ts
  packages/scenario/src/lib/types/push.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/scenario/CHANGELOG.md
Due: prettier --write --parser markdown

feat: add normalized param to text/regexp matchers
  examples/chatapp-brain/package-lock.json
  packages/scenario/README.md
  packages/scenario/src/lib/matchers.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: added dimensions in system message
  packages/scenario/src/lib/types/systemMessage.ts
Due: eslint --fix, prettier --write

feat: policyRunApp
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/types/salute.ts
Due: eslint --fix, prettier --write

feat: dump policyRunApp in favor of runApp
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/types/salute.ts
Due: eslint --fix, prettier --write

feat: add getProfileData
  examples/todo/src/scenario/scenario.ts
  packages/scenario/README.md
  packages/scenario/src/lib/createSaluteRequest.ts
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/types/request.ts
  packages/scenario/src/lib/types/response.ts
  packages/scenario/src/lib/types/salute.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

feat(salutejs): Add openDeepLink helper
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/types/salute.ts
Due: eslint --fix, prettier --write

Add city field to profile_data
  packages/scenario/src/lib/types/request.ts
Due: eslint --fix, prettier --write

feat: add chooseProfileData and getDetailedProfileData on res
  packages/scenario/src/lib/createSaluteResponse.ts
  packages/scenario/src/lib/types/response.ts
  packages/scenario/src/lib/types/salute.ts
Due: eslint --fix, prettier --write

fix(salutejs): fix ProfileDataFieldsType
  packages/scenario/src/lib/types/response.ts
Due: eslint --fix, prettier --write
